h1.headline {
    border-style: solid;
    text-align: center;
    border-color: greenyellow;
    color: greenyellow;
}
body {
    background-color: grey;
}
div.gridContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: brown;
    grid-column-gap: 20px;
    grid-row-gap: 5px;
    padding: 10px;
    grid-column-gap: 10px;
    border-radius: 15px;
    position: relative;
}
div.gridContainer > div {
    background-color: lightgrey;
    padding: 10px;
}
div.top {
    text-align: center;
}
#sidebar {
    background-color: yellow;
}
button {
    color: black;
}
.menu {
    background-color: greenyellow;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer; 
}
.menu:hover, menu:focus {
    background-color: lightgreen;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdownMenu {
    display: none;
    position: absolute;
    background-color: lightgrey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdownMenu a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdownMenu a:hover {
    background-color: lightblue; 
}
.firemaking {
    display: none;
}
.combat {
    display: none;
}
.woodcutting {
    display: none;
}
.show {
    display:block;
}



